<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <section id="Services" class="services">
        <h1 class="card-title" style="margin-bottom: 5%;">Serviços</h1>
        <div class="card">
            <p class="card-title">Bronze</p>
            <p class="card-text">Envio de lista personalizada com tudo o que o bebê precisa - mobiliário de quarto, carrinho, itens de alimentação, itens de higiene, segurança, brinquedos e roupinhas. Será analisado o estilo de vida e as necessidades de cada cliente, para indicarmos as melhores opções de compra. Após o envio da lista, marcaremos uma reunião online para esclarecer possíveis dúvidas quanto aos produtos.
            </p>
            <li class="card-bold-text">R$ 400,00</li>
            <button class="card-button">Contrate Agora</button>
            
        </div>
        <div class="card">
            <p class="card-title">Prata</p>
            <p class="card-text">1 dia de assessoria presencial de até 5 horas. E deve-se escolher entre a compra de todos os acessórios OU todas as roupinhas.</p>
            <li class="card-bold-text">Atendimento em Santos R$ 600,00</li>
            <li class="card-bold-text">Atendimento em São Paulo: R$ 700,00</li>
            <button class="card-button">Contrate Agora</button>
        </div>
        <div class="card">
            <p class="card-title">Ouro</p>
            <p class="card-text">2 dias de assessoria presencial de até 5 horas por dia. Podendo escolher dois, entre as três categorias: acessórios, roupinhas e mobiliário. Para cada dia, foca-se somente em um tipo de compra.</p>
            <li class="card-bold-text">Atendimento em Santos R$ 1.100,00</li>
            <li class="card-bold-text">Atendimento em São Paulo: R$ 1.300,00</li>
            <button class="card-button">Contrate Agora</button>
            
        </div>
        <div class="card">
            <p class="card-title">Diamante</p>
            <p class="card-text">3 dias de assessoria de até 5 horas por dia, que abrange todas as categorias. Acessórios, roupinhas e mobiliário. Para cada dia, foca-se somente em um tipo de compra.</p>
            
            <li class="card-bold-text">Atendimento em Santos R$ 1.500,00</li>
            <li class="card-bold-text">Atendimento em São Paulo: R$ 1.900,00</li>
            <p class="card-bold-text">Informações importantes</p>
            <li class="card-text">Acessórios: São todos os itens que o bebê precisa desde o nascimento até completar 1 ano de idade.</li>
            <li class="card-text">Roupinhas: é feito um estudo para cada gestante. Personalizamos a quantidade para cada estação e o estilo de roupinhas até o bebê completar 1 ano.</li>
            <li class="card-text">Para atendimentos em São Paulo, ofereço como cortesia o transporte.</li>
            <li class="card-text">Preços exclusivamente para uma gestante e um bebê.</li>
            <button class="card-button">Contrate Agora</button>
        </div>
        <div class="card">
            <p class="card-title">Mala da Maternidade</p>
            <p class="card-text">Uma assessora organizará presencialmente as malas da mãe e bebê que deverão ser levadas a maternidade. ( não está inclusa a lista de itens necessários para ida a maternidade).</p>
            <li class="card-bold-text">Atendimento em Santos R$ 350,00</li>
            <button class="card-button">Contrate Agora</button>
        </div>
    </section>
    <section id="FAQ" class="faq">
    </section>
    
</body>
</html>